.square {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #006747;
  border-radius: 100%;
  transition: 100ms;
  transform: translate(-150px , -150px);
}
.motor {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DA291C;
  border-radius: 100%;
  transform: translate(-50px , -50px);
}