.square {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #006747;
  border-radius: 20px;
  transition: 100ms;
  transform: translate(-50% , -50%);
}
.motor {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DA291C;
  border-radius: 100%;
  transform: translate(-50% , -50%);
}